/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fafafa;
  --text-color: #111517;
  // --mode-color: #fff;
  --element-bg: #fff;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: background-color 0.5s ease;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  transition: color 0.5s ease, background-color 0.5s ease;
}

/* DARK MODE */
.dark-mode {
  --primary-bg-color: #202c36;
  --text-color: #fff;
  --element-bg: #2b3844;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: $tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: $tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 48px 0 45px;
}

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* RETINA BGS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
