.back-button__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
  padding: 11px 39px 11px 32px;
  background-color: var(--element-bg);
  border-radius: 5px;
}