.back-button__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
  padding: 11px 39px 11px 32px;
  background-color: var(--element-bg);
  border-radius: 5px;
  margin-bottom: 80px;
}

/* COUNTRY INFO */

.country-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.country-info__title {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}

.country-info__list {
  display: flex;
  align-items: flex-start;
  gap: 140px;
  margin-bottom: 68px;
}

.country-info__border-countries {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-info__border-countries-link {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 300;
  font-size: 14px;
  padding: 5px 28px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--element-bg);
}