.back-button__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
  padding: 11px 39px 11px 32px;
  background-color: var(--element-bg);
  border-radius: 5px;
  margin-bottom: 80px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }
}

/* COUNTRY INFO */
.country-info {
  display: flex;
  flex-direction: column;
}

.country-info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 45px 0;

  &:not(:last-child) {
    border-bottom: 2px solid var(--element-bg);
  }

  @media only screen and (max-width: $tablet-l) {
    flex-direction: column;
  }

  @media only screen and (max-width: $mobile) {
    align-items: flex-start;
  }
  
}

.country-info__content {
  @media only screen and (max-width: $tablet-l) {
   max-width: 560px;
   width: 100%;
  }
}

.country-info__title {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}

.country-info__list {
  display: flex;
  align-items: flex-start;
  gap: 140px;
  margin-bottom: 68px;

  @media only screen and (max-width: $desktop) {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 45px;
  }
}

.country-info__border-countries {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 16px;

  @media only screen and (max-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.country-info__border-countries-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.country-info__border-countries-link {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 300;
  font-size: 14px;
  padding: 5px 28px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--element-bg);

  @media only screen and (max-width: $tablet) {
   padding: 4px 24px;
  }

  @media only screen and (max-width: $mobile) {
   padding: 3px 20px;
  }
}
