/* SEARCH */
.search-filter {
  margin-bottom: 48px;
}

.search-filter__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 40px;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search-filter__form-label {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 30px;
  transform: translateY(-35%);
}

.search-filter__form-input {
  background-color: var(--element-bg);
  border: none;
  position: relative;
  padding: 18px 18px 18px 74px;
  min-width: 480px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  color: var(--text-color);

  @media only screen and (max-width: $tablet) {
    min-width: 250px;
    width: 100%;
  }
}

.search-filter__form-select {
  padding: 18px 24px;
  min-width: 200px;
  border-radius: 5px;
  background-color: var(--element-bg);
  border: none;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}
